body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Empêche le défilement */
}

#game-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

canvas {
    background-color: #000;
    border: 1px solid #fff;
    touch-action: none;
}

.control-button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    text-align: center;
}
